{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% block content %}
  <h1>{{ chatroom.name }}</h1>

  <div id="message-list">
    {% for message in messages %}
      <div class="message">
        <span class="timestamp">{{ message.timestamp|date:"H:i" }}</span>
        <span class="sender">{{ message.sender.username }}</span>
        <span class="text">{{ message.text }}</span>
      </div>
    {% endfor %}
  </div>

  <form id="message-form" method="POST" action="{% url 'send_message' chatroom.id %}">
    {% csrf_token %}
    <input type="text" name="message">
    <button type="submit">Send</button>
  </form>
{% endblock %}
